* {
  color: black;
  font-size: 18px;
}

div {
  border-radius: 5px;
  padding: 30px 45px;
}

title {
  background-color: #668284;
  height: 80px;
}

header {
  z-index: 1;
  position: fixed;
  width: 97.5%;
  margin-top: -20px;
  height: 60px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}

a:hover {
  font-weight: bold;
  color: #666;
}

body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

#menu {
  background: #202024;
  left: -285px;  
  height: 100%;
  position: fixed;
  width: 285px;
}

#table {
  width: 20%;
  height: 20px;
  padding: 10px;
  position:relative;
  left: 15px;
  margin: 5px;
}

#date {
  width: 20%;
  display: inline-table;
}

#subject {
  width: 50%;
  display: inline-table;
}

#sender {
  width: 30%;
  display: inline-table;
}

//CSS for Menu slider

#jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

#menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

#icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

#icon-menu i {
  margin-right: 5px;
}